@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-size: 1.2rem;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
.top{
    box-sizing: border-box;
    background-color: rgba(241, 243, 255,.75);
    padding: 55px 10% 125px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.top h1{
    position: relative;
    margin-block-start: 0;
    color: hsl(230, 17%, 14%);
}
.top h1 span{
    position: absolute;
    top:50px;
    font-size: .85rem;
    left: 0;
    color: hsl(228, 12%, 44%);
}
.toggle{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.custom-checkbox{
    position: absolute;
    right:55px;
    bottom:22px;
}
.custom-checkbox input{
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.toggle span{
    position: absolute;
    left: 0;
    width:55px;
    height:25px;
    background-color: hsl(230, 22%, 74%);
    border-radius:15px;
} 
.toggle span::after{
    content: "";
    position: absolute;
    right: 3px;
    transform: translateY(-50%);
    top:50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    transition: all .25s ease-in-out;
}
input:checked ~ span::after{
    /* left: 3px; */
    right: 35px;
    background-color: hsl(232, 19%, 15%);
}
input:checked ~ span{
    background-image: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}
label{
    margin-right:20px;
    font-weight: 600;
    font-size: .95rem;
    color: hsl(228, 12%, 44%);
    z-index: 3;
    padding: 0 50px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.container{
    position: relative;
    bottom:75px;
}
.first,.second{
    box-sizing: border-box;
    width:80%;
    max-width:1700px;
    margin: 0 auto;
}
.first{
    display: grid;
    gap:25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.second{
    display: grid;
    gap:25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.social-card{
    position: relative;
    text-align: center;
    margin:0;
    background-color: hsl(227, 47%, 96%);
    width:100%;
    box-sizing: border-box;
    border-radius:7px;
    padding:25px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 6px;
    border-top-right-radius:6px;
    overflow: hidden;
}
.facebook{
    border-top:5px solid hsl(208, 92%, 53%);
}
.twitter{
    border-top:5px solid hsl(203, 89%, 53%);
}
.instagram{
    border:none;
    /* border-image: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%)); */
}
.instagram::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    top:0;
    background-image: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}
.youtube{
    border-top:5px solid hsl(348, 97%, 39%);
}
.social-card h1{
    color: hsl(230, 17%, 14%);
    margin-block-end:35px;
    margin-block-start:25px;
    font-size:3.75rem;
}
.social-card h1::after{
    content:"FOLLOWERS";
    position: relative;
    display: block;
    text-align:center;
    font-size:.75rem;
    letter-spacing:7px;
    font-weight: 400;
}
.youtube h1::after{
    content:"SUBSCRIBERS";
}
.username,.status{
    display: flex;
    align-items:center;
}
.username span,.status span{
    margin-left:5px;
    font-size:.9rem;
    font-weight: 600;
}
.username{
    color:hsl(228, 12%, 44%);
}
.username span{
    margin-left:10px;
}
.status img{
    transform: scale(1.25);
}
.status{
    color: hsl(163, 72%, 41%);
}
.status.down{
    color: hsl(356, 69%, 56%);
}
h2{
    color: hsl(228, 12%, 44%);
    padding: 0 10%;
    font-size:1.75rem;
    margin:50px auto 25px;
    max-width:1700px;
}
.details-card{
    position: relative;
    margin:0;
    background-color: hsl(227, 47%, 96%);
    width:100%;
    box-sizing: border-box;
    border-radius:7px;
    padding:30px 20px 5px;
    overflow: hidden;
}
.details-card h3{
    margin-block-end:35px;
    margin-block-start:35px;
    font-size:2rem;
    color: hsl(230, 17%, 14%);;
}
.details-card .title,.details-card .numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-card:hover,.details-card:hover{
    background-color: rgba(225,227,240,255);
    cursor: pointer;
}
.title span{
    color: hsl(228, 12%, 44%);
    font-weight: 600;
    font-size: 1rem;
}
.dark{
    background-color: hsl(230, 17%, 14%);
}
.dark .top{
    background-color: hsl(232, 19%, 15%);
}
.dark .social-card,.dark .details-card{
    background-color: hsl(228, 28%, 20%);
}
.dark .social-card:hover,.dark .details-card:hover{
    background-color: rgba(51,58,86,255);
}
.dark h1,.dark h3,.dark h2{
    color: hsl(0, 0%, 100%);
}
.dark .title span,.dark .username,.dark label,.dark .top h1::after{
    color: hsl(228, 34%, 66%);
}
@media only screen and (max-width:1000px) {
    .first,.second{
        box-sizing: border-box;
        width:80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:1000px) {
    .top{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    .toggle{
        border-top:1px solid  hsl(228, 12%, 44%);
        width: 100%;
        padding-top:15px;
        margin-top:20px;
    }
    label{
        width: 100%;
    }
    .dark .toggle{
        border-top:1px solid  hsl(228, 34%, 66%);
    }
    .top{
    padding:30px 10% 100px 10%;
    } 
}
@media only screen and (max-width:575px) {
    .top h1{
        font-size:1.5rem;
    }
    .top h1 span{
        position: absolute;
        top:35px;
        font-size: .75rem;
    }
    h2{
        font-size: 1.35rem;
    }
}
@media only screen and (max-width:360px) {
    .top h1{
        font-size:1.18rem;
    }
    .top h1 span{
        position: absolute;
        top:25px;
        font-size: .75rem;
    }
}
